extends layout

block content
  h1= title
  p Welcome to #{title}

  div(class="selection")
    input(id="login-view" type="button" value="Login" )
    input(id="register-view" type="button" value="Register" )
