h1 Login

form(id="login-form" method="POST" action="")
    input(id="input-email" type="text" placeholder="Email")
    input(id="input-password" type="password" placeholder="Password")
    input(id="submit-btn" type="submit" value="Login")


script(src="/javascripts/login.js")
