h1 = Register

form(id="register-form" method="POST" action="")
    input(id="input-email" type="text" placeholder="Email")
    input(id="input-password" type="password" placeholder="Password")
    input(id="submit-btn" type="submit" value="Create Account")

script(src="/javascripts/register.js")
